In [ ]:
import calendar
y=int(input("Enter a Year: "))
m=int(input("Enter a Month: "))
cal = calendar.month(y,m)
print(cal)

Enter a Year: 2003
Enter a Month: 11
   November 2003
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [ ]:
#Slicing
s1="Hello Python"
print(s1[::-1])

nohtyP olleH

In [ ]:
#join and reversed
def rev_str(s):
  return''.join(reversed(s))
print(rev_str("Vishnu"))

unhsiV

In [ ]:
#Loop
def rev_str(n):
  rev=""
  for char in n:
    rev=char+rev
  return rev
print(rev_str("Dinesh"))

hseniD

In [ ]:
#Recursion
l1=[1,2,3]
l2=["red","blue"]
for i in l1:
    for j in l2:
      print(l1,l2,end='')

[1, 2, 3] ['red', 'blue'][1, 2, 3] ['red', 'blue'][1, 2, 3] ['red', 'blue'][1, 2, 3] ['red', 'blue'][1, 2, 3] ['red', 'blue'][1, 2, 3] ['red', 'blue']

In [ ]:
#Printing a Table
n=int(input("Enter a Number: "))
for i in range(1,11):
  print(n,"x",i,"=",n*i)

Enter a Number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Building a simple calculator
n=int(input("Enter n: "))
n1=int(input("Enter n1: "))
n2=int(input("Enter n2: "))
if n2==1:
  print(n+n1)
elif n2==2:
  print(n-n1)
elif n2==3:
  print(n*n1)
elif n2==4:
  print(n/n1)
else:
  print("Invalid Input")

Enter n: 48
Enter n1: 8
Enter n2: 4
6.0

In [ ]:
#Another calculator
n1=int(input("Enter a Number: "))
operator = input("select operator(+,-,*,/): ")
n2=int(input("Enter a number: "))
result=1
if operator=='+':
  result = n1+n2
elif operator=='-':
  result = n1-n2
elif operator=='*':
  result = n1*n2
elif operator=='/':
  result = n1/n2
else:
  print("Invalid Input")
print(f"{n1}{operator}{n2} = {result}")

Enter a Number: 5
select operator(+,-,*,/): +
Enter a number: 7
5+7 = 12

In [ ]:
i=1
for i in range (50):
  print(i)
  if i==10:
    continue
  if i==10:
    break
  i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [ ]:
n=int(input("Enter a Number: "))
for rows in range(1,n+1):
  for cols in range(1,rows+1):
    print("*",end="")
  print()

Enter a Number: 5
*
**
***
****
*****

In [ ]:
n=5
for i in range (n):
  for j in range (i+1):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
n=5
for i in range (n):
  for j in range (n-i):
    print("*",end='')
  print()

*****
****
***
**
*

In [ ]:
n=5
for i in range (n):
  for j in range (i+1):
    print(i+1,end='')
  print()

1
22
333
4444
55555

In [ ]:
n = 5
num=1

for i in range(n):
    for j in range(i):
        print(num, end='')
        num += 1
    print()

1
23
456
78910

In [ ]:
word="Dinesh"
vowel=['a','e','i','o','u']
count=0
for char in word:
  if char in vowel:

    print(char )
    count+=1

print(count)
for char in word:
  if char not in vowel:
    print(char, end="")

i
e
2
Dnsh

In [ ]:
n=5
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

120

In [ ]:
n=5
fact=1
i=1
while i<n+1:
  fact=fact*i
  i+=1
print(fact)

120

In [ ]:
n=int(input())
for i in range(n):
  x=int(input())
  if x//10>100:
    print(x//10)
  else:
    print(100)

In [ ]:
T = int(input())
for _ in range(T):
    X, Y = map(int, input().split())
    print(X * Y // 100)

3
10 10
1
20 4
0
70 7
4

In [ ]:
n=10
m,o=0,1
for i in range(n):
  m,o=o,m+o
  print(m)

1
1
2
3
5
8
13
21
34
55

In [ ]:
import random
n=3
m=(random.randint(1,10))
for i in range(n):
  g=int(input())
  if(m>g):
   print("secret number is greater")

  elif(m<g):
    print("user defined number is greater")

  elif(m==g):
    print("Congratulations")
    print("Secret number is found. You won")
    print("Secret number is ",m)
    break;
  else:
    print("Enter the number in range")

6
secret number is greater
8
user defined number is greater
7
Congratulations
Secret number is found. You won
Secret number is  7

In [ ]:
#string Concat
s1="Dinesh"
s2="Vardhan"
print(s1+" "+s2)

Dinesh Vardhan

In [ ]:
#string enumerate
s1="Hello Dinesh"
for i in enumerate(s1):
  print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'D')
(7, 'i')
(8, 'n')
(9, 'e')
(10, 's')
(11, 'h')

In [ ]:
#String partititon
s1="Hi, How are you doing? Are you fine?"
print(s1.partition("are"))

('Hi, How ', 'are', ' you doing? Are you fine?')

In [ ]:
#Strip it removes spaces infront of the first character
s1="    Hello Python "
print(s1.strip())

Hello Python

In [ ]:
#String Replace
s1="hi programming"
print(s1.replace("hi","hello"))

hello programming

In [ ]:
#String Split
s1="Hi python"
print(s1.split())

['Hi', 'python']

In [ ]:
#String lower case
s1="Hello guru"
print(s1.lower())

hello guru

In [ ]:
#String upper case
s1="Hello Guru"
print(s1.upper())

HELLO GURU

In [ ]:
#String Count
s1="Hello Guru How are you?"
print(s1.count("are"))

1

In [ ]:
my_list=[1,2,3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
my_list=[1,2,3,4,5]
my_list.extend([6,7,8])
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
my_list=[1,2,3,4,5]
my_list.insert(0,6)
print(my_list)

[6, 1, 2, 3, 4, 5]

In [ ]:
my_list=[1,2,3,4]
my_list.remove(4)
print(my_list)

[1, 2, 3]

In [ ]:
my_list=[1,2,3]
my_list.pop(0)
print(my_list)

[2, 3]

In [ ]:
my_list=[1,2,3]
my_list.index(2)

1

In [ ]:
my_list=[1,2,3,4]
my_list.reverse()
print(my_list)

[4, 3, 2, 1]

In [ ]:
my_list=[1,2,3,4]
my_list.count(2)

1

In [ ]:
my_list=[1,2,3,4]
my_list.clear()
print(my_list)

[]

In [ ]:
n=int(input("Enter your number: "))
for i in range (n):
  for j in range (i+1):
    print("*",end="")
  print()

Enter your number: 10
*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
n=int(input("Enter your number: "))
for i in range(1,n+1):
  for j in range (n-1,i-1,-1):
    print(" ",end="")
  for k in range (1,i+1):
    print("*",end="")
  print()

Enter your number: 10
         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [ ]:
n=int(input("Enter your number: "))
for i in range(1,n+1):
  for j in range (n-1,i-1,-1):
    print(" ",end="")
  for k in range (1,i+1):
    print(i,end="")
  print()

Enter your number: 5
    1
   22
  333
 4444
55555

In [ ]:
n = 5
num=1

for i in range(n):
    for j in range(i):
        print(num, end='')
        num += 1
    print()

1
23
456
78910

In [ ]:
p=65
n=int(input("Enter your number: "))
for i in range(n):
  for j in range(i):
    print(chr(p),end='')
    p +=1
  print()

Enter your number: 6

A
BC
DEF
GHIJ
KLMNO

In [ ]:
p=64
n=int(input("Enter your number: "))
for i in range(n):
  for j in range (i):
    print(chr(p),end='')
  p+=1
  print()

Enter your number: 6

A
BB
CCC
DDDD
EEEEE

In [ ]:
p=65
n=int(input("Enter your number: "))
for i in range(1,n+1):
  for j in range (n-1,i-1,-1):
    print(" ",end="")
  for k in range (1,i+1):
    print(chr(p),end="")
    p+=1
  print()

Enter your number: 6
     A
    BC
   DEF
  GHIJ
 KLMNO
PQRSTU

In [ ]:
p=65
n=int(input("Enter your number: "))
for i in range(1,n+1):
  for j in range (n-1,i-1,-1):
    print(" ",end="")
  for k in range (1,i+1):
    print(chr(p),end="")
  p+=1
  print()

Enter your number: 6
     A
    BB
   CCC
  DDDD
 EEEEE
FFFFFF

In [ ]:
p=65
n=5
for i in range (n):
  for j in range (n-i):
    print(chr(p),end='')
    p+=1
  print()

ABCDE
FGHI
JKL
MN
O

In [ ]:
p=65
n=5
for i in range (n):
  for j in range (n-i):
    print(chr(p),end='')
  p+=1
  print()

AAAAA
BBBB
CCC
DD
E

In [ ]:
n=10
for i in range(1,n+1):
  for j in range(1,n-i+1):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end=" ")
  for j in range(1,n-i+1):
    print(" ",end="")
  print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [ ]:
n=10
for i in range(n-1,0,-1):
  for j in range(n-i+1,1,-1):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end=" ")
  for j in range(n-i+1,1,-1):
    print(" ",end="")
  print()

 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [ ]:
n=10
for i in range(1,n+1):
  for j in range(1,n-i+1):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end=" ")
  for j in range(1,n-i+1):
    print(" ",end="")
  print()
for i in range(n-1,0,-1):
  for j in range(n-i+1,1,-1):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end=" ")
  for j in range(n-i+1,1,-1):
    print(" ",end="")
  print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [ ]:
n=5
for i in range (1,n+1):
  if i==1 or i==n:
    print("* "*n)
  else:
    print("*"+" "*(n-2)+"    *")

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
n=4
for i in range(1,n+1):
  for j in range(1,n-i+1):
    print(" ",end="")
  for k in range(1,i+1):
    if k==1 or k==i or i==n:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  for j in range(1,n-i+1):
    print(" ",end="")
  print()

   *
  * *
 *   *
* * * *

In [ ]:
n=10
for i in range(1,n+1):
  for j in range(1,n-i+1):
    print(" ",end="")
  for k in range(1,i+1):
    if k==1 or k==i or i==1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  for j in range(1,n-i+1):
    print(" ",end="")
  print()
for i in range(n-1,0,-1):
  for j in range(n-i+1,1,-1):
    print(" ",end="")
  for k in range(1,i+1):
    if k==1 or k==i or i==n:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  for j in range(n-i+1,1,-1):
    print(" ",end="")
  print()

         *
        * *
       *   *
      *     *
     *       *
    *         *
   *           *
  *             *
 *               *
*                 *
 *               *
  *             *
   *           *
    *         *
     *       *
      *     *
       *   *
        * *
         *

In [ ]:
n=5
for i in range (1,n+1):
  for j in range(1,i+1):
    print("*",end='')
  print()
for i in range(n-1,0,-1):
  for j in range(1,i+1,):
    print("*",end='')
  print()

*
**
***
****
*****
****
***
**
*

In [ ]:
n = 5

for i in range(1, n + 1):
    l = "*" * i
    s = " " * (2 * (n - i))
    r = "*" * i
    print(l + s + r)

for i in range(n - 1, 0, -1):
    l = "*" * i
    s = " " * (2 * (n - i))
    r = "*" * i
    print(l + s + r)

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [ ]:
n = 5

def spc(i):
    if i == 1:
        return "*"
    elif i == 2:
        return "**"
    else:
        return "*" + " " * (i - 2) + "*"

for i in range(1, n + 1):
    l = spc(i)
    s = " " * (2 * (n - i))
    r = spc(i)
    print(l + s + r)


for i in range(n - 1, 0, -1):
    l = spc(i)
    s = " " * (2 * (n - i))
    r = spc(i)
    print(l + s + r)

*        *
**      **
* *    * *
*  *  *  *
*   **   *
*  *  *  *
* *    * *
**      **
*        *

In [ ]:
l=[-1,2,10,15,20]
max=l[0]
for i in l:
  if i>max:
    max=i
print(max)

20

In [ ]:

st=[1,2,3,4]
sp=[]
arr=max(st)
sp.append(arr)
print(sp)

[4]

In [ ]:
l=[-1,2,10,15,20]
min=l[0]
for i in l:
  if i<min:
    min=i
print(min)

-1

In [ ]:

st=[1,2,3,4]
sp=[]
arr=min(st)
sp.append(arr)
print(sp)

[1]

In [ ]:
print(hash("apple"))

1402795808032728161

In [ ]:
import string , random
letters = string.ascii_letters
digits = string.digits
special_chars = string.punctuation
print(''.join(random.choices(special_chars+digits+letters,k=10)))

1ao,]u:!gI

In [ ]:
import string, random
letters=string.ascii_letters
digits = string.digits
special_chars = string.punctuation
mix = (string.ascii_letters*3+string.digits*2+string.punctuation*7+string.ascii_letters*3)
print(''.join(random.choices(mix,k=10)))

_N'>vX@zDL

In [ ]:
import string
st=string.digits
even = st[::2]
odd = st[1::2]
print(even)
print(odd)

02468
13579

In [ ]:
st=" "
sp=input("Enter:")
print(sp)
st=max(sp)
print(st)

Enter:4 5 6 8 9
4 5 6 8 9
9

In [ ]:
n=10
sum=0
for i in range(1,n+1):
  sum+=i
print(sum)

55

In [ ]:
n=10
sum=0
for i in range(1,n+1):
  sum=sum+(i**2)
print(sum)

385

In [ ]:
n=10
print(n*(n+1)//2)

55

In [ ]:
l = [-1, 0, 2, 4, 6]
sum_num = 0

for i in l:
    if i % 2 == 0:
        sum_num += i
    print(sum_num)

0
0
2
6
12

In [ ]:
l=[-1,0,2,4,6]
sum_num=[0]
for i in l:
  if i%2==0:
    print(i)

0
2
4
6

In [ ]:
l=[-1, 2, 9, 4, 6]
sum_num=[0]
h=""
for i in l:
  if i%2 ==0:
    h=sum_num.append()
  print(h)

TypeError: list.append() takes exactly one argument (0 given)